
.title {
    display: block;
    padding: 120px 0px 40px 0px;
    margin: auto;
    max-width: 450px;
    text-align: left;
}
.title span {
    font-weight: bold;
    font-size: 30px;
    float: left;
    margin-right: 10px;
    color: #484848;
    font-family: Oswald, sans-serif;
    letter-spacing: 1.2px;
}






/*======== FORM ======*/


form{
    margin: auto;
    text-align: center;
    /*max-width: 450px;*/
}

/*form input[type="submit"]{*/
    /*height: 35px;*/
    /*border: none;*/
    /*background-color: #ff8534;*/
    /*color: #fff;*/
/*}*/
form select {
    height: 30px;
    width: 100%;
    text-indent: 5px;
}
.semana > div {
    margin-bottom: 5px;
    display: block;
}

.semana label {
    float: left;
    color: #fff;
    cursor: pointer;
}

.semana input{
    float: right;
    margin-top: 2px;
    position: relative;
}

input[type="checkbox"]{
    border: none;
    background-color: #ffffff;
}

#status, select {
    cursor: pointer;
}
label[for="show_semana"]{
    height: 28px;
    border: 1px solid #484848;
    color: #484848;
    line-height: 30px;
    text-align: left;
    text-indent: 5px;
    position: relative;
    font-size: 14px;
}

.semana br {
}
.semana {
    display: none;
}
#show_semana:checked ~ .semana {
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 20%;
    width: 200px;
    height: 200px;
    z-index: 1;
    background-color: #484848;
}

.plano {
    border:  1px solid #484848;
    width: 100%;
    display: block;
    text-align: left;
    text-indent: 5px;
    margin-bottom: 20px;
    padding: 5.5px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}
.plano input {
    display: block;
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
}




.semana input::before {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content: '';
    background-color: #ffffff;
    cursor: pointer;
}

.semana input:checked::before {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content: '';
    background-color: #ff8534;
    margin: auto;
}

.add_user .label_m:last-child {
    margin-bottom: 0px;
}



/*======== FIM FORM ======*/

@media screen and (max-width: 1140px){
    #show_semana:checked ~ .semana {
        display: block;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 10%;
        width: 200px;
        height: 200px;
        z-index: 1;
        background-color: #484848;
    }
}